/*
 *
 *  Actions menu (menu that opens when a part is clicked in the scene).
 *
 */

#actionsMenu {
  display: none;
  position: fixed;
  overflow: hidden;
  background-color: var(--main-color);
  border: 1px dashed var(--second-color);
  border-radius: 5px;
  opacity: 0.7;
  transition: all 0.2s;
}

#actionsMenu:hover {
  opacity: 1;
}

#actionsMenu button {
  background-color: transparent;
  color: var(--forth-color);
  border: none;
  transition: all 0.2s;
}

#actionsMenu button:hover {
  background-color: var(--second-color);
}

#actionsMenu button img {
  width: 60px;
  height: auto;
}

#hide {
  display: none;
}

#disassemble {
  display: none;
}

#unload {
  font-size: 40px;
}
