/*
 *
 *  Buttons of the UI (-> NOT the buttons of the menus).
 *
 */

 .mainBtn {
  z-index: 2;
  position: absolute;
  width: 75px;
  height: 75px;
  border: none;
  border-radius: 100%;
  background-color: var(--main-color);
  transition: 0.3s all ease;
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: 50% 50%;
}

.mainBtn:hover {
  background-color: var(--second-color);
  border-bottom: 0.1em solid var(--forth-color);
}

.mainBtn img {
  width: 70%;
  height: auto;
}

#btnParts {
  top: 10px;
  left: 10px;
}

#btnTools {
  top: 10px;
  left: 100px;
}

.secondaryBtn {
  position: absolute;
  z-index: 2;
  border: none;
  border-radius: 50%;
  display: flex;
  padding: 10px;
  background-color: var(--main-color);
  transition: all 0.3s ease;
  width: 44px;
  height: 44px;
}

.secondaryBtn img {
  width: 100%;
  height: auto;
}

.secondaryBtn:hover {
  background-color: var(--second-color);
  border-bottom: 0.1em solid var(--forth-color);
}

.secondaryBtn #window {
  display: none;
}

.secondaryBtn #sectionalView {
  display: none;
}

#screenMode {
  margin: 0;
  right: 10px;
  bottom: 10px;
}

#partsView {
  margin: 0;
  right: 64px;
  bottom: 10px;
}
