/*
 *
 *  Exit buttons in the UI.
 *
 */

.exit {
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: var(--forth-color);
  transition: all 0.2s;
  width: auto;
}

.exit:hover {
  background-color: var(--second-color);
}

#exitIsolated {
  z-index: 7;
  position: absolute;
  top: 15%;
  right: 20%;
  font-size: 30px;
  color: var(--second-color);
  border-radius: 5px;
  display: none;
}

#exitIsolated:hover {
  background-color: var(--main-color);
  color: var(--third-color);
}
