/*
 *
 *  General (Color palette + global settings)
 *
 */

:root {
  --main-color: #33313B;
  --second-color: #4592AF;
  --third-color: #E3C4A8;
  --forth-color: #F6F5F5;
}

::-webkit-scrollbar {  /* Hide scrollbar in Chrome and Chromium */
  display: none;
}

html {
  height: 100%;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background: linear-gradient(to right, var(--third-color), var(--second-color));
}
