/*
 *
 *  Isolated view (opens when the magnifying glass button is clicked).
 *
 */

 #isolatedDiv {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 5;
  display: none;
  flex-direction: column;
  background-color: var(--main-color);
  opacity: 0.7;
}

/* Keep the menu open while the isolated view is opened */
#isolatedDiv:hover ~ #menu,
#isolatedOutput:hover ~ #menu,
#exitIsolated:hover ~ #menu {
  width: 15%;
  opacity: 1;
}

#isolatedOutput {
  top: 15%;
  left: 20%;
  position: absolute;
  border-radius: 10px;
  z-index: 6;
  display: none;
}
