/*
 *
 *  Menu languages (bottom left in the UI).
 *
 */

 #languageSelector {
  position: absolute;
  display: flex;
  bottom: 10px;
  left: 10px;
  width: 165px;
  justify-content: space-evenly;
}

#languageSelector button {
  position: relative;
  color: var(--forth-color);
  height: 44px;
  width: 44px;
  white-space: nowrap;
  justify-content: center;
}
