/*
 *
 *  Loading screen.
 *
 */

#loadingScreen {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#loadingScreen #backgroundLoadingScreen {
  height: 100%;
  width: 100%;
  opacity: 0.7;
  background: linear-gradient(to right, var(--third-color), var(--second-color));
}

#loadingScreen #backgroundLoadingScreen img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -67px 0 0 -68px;
  -webkit-animation: animategear 2s infinite;
  animation: animategear 2s infinite;
}

/* @keyframes IS NOT SUPPORTED BY IE9 AND EARLIER VERSIONS */
@keyframes animategear {
  0%, 50%, 65%, 100% {top: 50%;}
  40%   {top: 40%;}
  55%   {top: 46%;}
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
