/*
 *
 *  Menu of parts/tools (menu that opens when upper left buttons are clicked).
 *
 */

#menu {
  display: none;
  position: absolute;
  left: 10px;
  top: 100px;
  bottom: 65px;
  width: 100px;
  background: var(--main-color);
  border-radius: 10px;
  overflow: hidden;
  opacity: 0.5;
  transition: all 0.2s ease;
}

#menu:hover {
  min-width: 200px;
  width: 15%;
  opacity: 1;
}

#menu .list {
  flex-direction: column;
  align-items: center;
  width: 90%;
  white-space: nowrap;
  overflow-y: scroll;
  scrollbar-width: none;  /* Hide scrollbar in Firefox */
}

#menu .list p {
  display: contents;
  font-size: large;
  color: var(--third-color);
  overflow-x: hidden;
}

#menu .list .picture {
  width: 30%;
  height: auto;
}

#menu .list p span {
  display: none;
  padding: 3px;
  border: 1px dashed var(--second-color);
  background-color: var(--main-color);
}

#menu .list p:hover span {
  display: block;
  position: fixed;
  overflow: hidden;
}

#menu .list .settings {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px dashed var(--second-color);
}

#menu .list .settings button {
  width: 30px;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  color: var(--forth-color);
  font-size: 25px;
  padding: 0;
  transition: all 0.1s;
  justify-content: center;
}

#menu .list .settings button:hover {
  background-color: var(--second-color);
}

#menu .list .settings button img {
  width: auto;
  height: 25px;
  justify-content: center;
}

#menu .list .settings button .transparent {
  display: none;
}

#listParts {
  display: none;
}

#listTools {
  display: none;
}

.transparentBtn {
  display: none;
}
